In [1]:
import numpy as np
import pandas as pd
import string
import sklearn
import nltk
from nltk.corpus import stopwords
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv("spam_ham_dataset.csv")

In [3]:
data

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0
...,...,...,...,...
5166,1518,ham,Subject: put the 10 on the ft\r\nthe transport...,0
5167,404,ham,Subject: 3 / 4 / 2000 and following noms\r\nhp...,0
5168,2933,ham,Subject: calpine daily gas nomination\r\n>\r\n...,0
5169,1409,ham,Subject: industrial worksheets for august 2000...,0
5170,4807,spam,Subject: important online banking alert\r\ndea...,1

In [4]:
data.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [5]:
data.columns

Index(['Unnamed: 0', 'label', 'text', 'label_num'], dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5171 non-null   int64
 1   label       5171 non-null   object
 2   text        5171 non-null   object
 3   label_num   5171 non-null   int64
dtypes: int64(2), object(2)
memory usage: 161.7+ KB

In [7]:
data.shape

(5171, 4)

In [8]:
data.drop(['label'],axis=1)

      Unnamed: 0                                               text  label_num
0            605  Subject: enron methanol ; meter # : 988291\r\n...          0
1           2349  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2           3624  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3           4685  Subject: photoshop , windows , office . cheap ...          1
4           2030  Subject: re : indian springs\r\nthis deal is t...          0
...          ...                                                ...        ...
5166        1518  Subject: put the 10 on the ft\r\nthe transport...          0
5167         404  Subject: 3 / 4 / 2000 and following noms\r\nhp...          0
5168        2933  Subject: calpine daily gas nomination\r\n>\r\n...          0
5169        1409  Subject: industrial worksheets for august 2000...          0
5170        4807  Subject: important online banking alert\r\ndea...          1

[5171 rows x 3 columns]

In [9]:
data.drop_duplicates(inplace=True)

In [10]:
data.isnull().sum()

Unnamed: 0    0
label         0
text          0
label_num     0
dtype: int64

In [11]:
data.shape

(5171, 4)

In [12]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jaswa\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [13]:
def process_text(text):
  nopunc=[char for char in text if char not in string.punctuation]
  nopunc=''.join(nopunc)
  clean_words=[word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
  return clean_words

In [14]:
data['text'].head().apply(process_text)

0    [Subject, enron, methanol, meter, 988291, foll...
1    [Subject, hpl, nom, january, 9, 2001, see, att...
2    [Subject, neon, retreat, ho, ho, ho, around, w...
3    [Subject, photoshop, windows, office, cheap, m...
4    [Subject, indian, springs, deal, book, teco, p...
Name: text, dtype: object

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
mod_msg=CountVectorizer(analyzer=process_text).fit_transform(data['text'])

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(mod_msg,data['label_num'],test_size=0.1,random_state=0)

In [ ]:
mod_msg.shape

In [ ]:
from sklearn.naive_bayes import MultinomialNB
classifier=MultinomialNB().fit(X_train,y_train)

In [ ]:
classifier.predict(X_train)

In [ ]:
y_train

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
pred=classifier.predict(X_train)
classification_report(y_train,pred)

In [ ]:
cm = confusion_matrix(y_train,pred)

In [ ]:
cm

In [ ]:
acc = accuracy_score(y_train,pred)

In [ ]:
acc

In [ ]:
classifier.predict(X_test)

In [ ]:
y_test.values

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
pred=classifier.predict(X_test)
classification_report(y_test,pred)

In [ ]:
cm = confusion_matrix(y_test,pred)

In [ ]:
cm

In [ ]:
acc = accuracy_score(y_test,pred)

In [ ]:
acc

In [31]:
sns.heatmap(cm, annot=True)

NameError: name 'cm' is not defined